<% @articles.each do |article| %>
   
               
    



<div class="tabs-content" data-tabs-content="example-tabs">
<div class="tabs-panel is-active" id="panel1">
<%= link_to article_path(article) do %>
  <h4><%= article.title %></h4>
<% end %>
<div class="media-object stack-for-small">
<div class="media-object-section">
<%= link_to article_path(article) do %>
<%= image_tag(article.image, width:"200px", height:"200px", alt: "picture of a whale eating a donkey", class: "thumbnail") %>
</div>
<div class="media-object-section">
<li><a href="#">Autheur: <%= article.author %></a></li>
<h3><small><%= article.published_at %></small></h3>
<p>
 <%= truncate article.description, length: 90 %>
<%= link_to "Voir plus", article_path(article), class: "" %><span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
</p>
     
 <i class="glyphicon glyphicon-tag" aria-hidden="true">Tags:</i><a class="tag-cloud-individual-tag" ><%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></a>  
</div>
</div>
</div>
</div>
<% end %>
<% end %>
<div class="left">
<%= paginate @articles %>
</div>
