


<ul class="menu menu-hover-lines">
  <li><%= link_to 'acceuil', root_path %></li>
  <li><%= link_to 'article', article_index_path %></li>
  <li><%= link_to 'Ou manger', restau_index_path %></li>
  <li><%= link_to 'evenements', evenements_path %></li>
  <li><%= link_to 'partenaire', partenaire_index_path %></li>
  
</ul>