<p id="notice"><%= notice %></p>
<br>
<br>

<h1>Evenements</h1>

<br>
<br>
<br>
<br>



<%= month_calendar events: @evenements do |date, evenements| %>
  <%= date.day %>

  <% evenements.each do |evenement| %>
    <div>
      
      <%= link_to evenement do %>
      <%= evenement.name %>
      <% end %>
    </div>
  <% end %>
<% end %>






<br>



<br>
<br>
<br>
<br>
<br>
<br>