

  <p id="notice"><%= notice %></p>

<br>
<br>
<div class="centrer">
  <h5 class="card-title">Evenements</h5>
</div>
<br>
<br>
<br>
<br>


<div class="centrer">
 <%= month_calendar events: @evenements do |date, evenements| %>
  <%= date.day %>
</div>
  <% evenements.each do |evenement| %>
    <div>
      
      <%= link_to evenement do %>
      <%= evenement.name %>
      <% end %>
    </div>
  <% end %>
<% end %>






<br>



<br>
<br>
<br>
<br>
<br>
<br>